*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header, main, footer{
    padding: 1rem;
}

/* Header */
header{
    grid-area: header;
    background-color: #F5F5F5;
}
.nav__toggle{
    position: absolute;
    cursor: pointer;
    margin: 0rem 2rem;
    right: 0;
}

.nav__toggle #search-box{
    right: 1rem;
}

#close{
    display: none;
}


#menu{
    margin-top: 0.2rem;
}

.nav__checkbox{
    display: none;
}

.nav__menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
}

.nav__menu li{
    list-style: none;
    display: none;
}

.nav__menu li:first-child{
    margin-right: auto;
    display : block;
    font-size: 1.2rem;
}

.nav__menu a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

#nav__checkbox:checked ~ ul.nav__menu li{
    display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close{
    display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu{
    display: none;
}


/* Main */

main{
    grid-area: main;
}

main section img{
    width: 100%;
    margin: 1rem;
}

.shop-nå-btn{
    display:inline-block;
    align-self: center;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    background-color: #353434;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
}

main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* header{
    position: relative;
    width: 100%;
    height: 70px;
    font-size: 1.5rem;
    background: rgb(8, 9, 19);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
}

#logo{
    position: relative;
    height: 100%;
    padding: 4%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar{} */


/* header nav{
    display: flex;
    justify-content: space-between;
    position: relative;
}

header nav div{
    display: flex;
    gap: 1rem;
}

.nav-bar{
    display: none;

} */

/* .responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #242424;
    right: 0 
    margin: 0;
    padding: 0;
    top: 40px;
    list-style: none;
}

.responsive a {
    color: #fff;
    display: inline-block;
    padding: 0;
    text-decoration: none;  */



} 

main{
    grid-area: main;
}

main section img{
    width: 100%;
}
/* Footer */



footer{
    grid-area: footer;
}

.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
    background-color: #F5F5F5;
}

.social-icons{
    display: flex;
    justify-content: center;

}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;

}
.social-icons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* .social-icons a:hover{
    background-color: #F5F5F5;
    transition: 0.5s;

}
.social-icons a:hover i{
    color: white;
    transition: 0.5s;
} */

/* Reset */

.footer-nav{
    margin: 30 px 0;
}

.footer-nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

.footer-nav ul li a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

/* .footer-nav ul li a:hover{
    opacity: 1;
} */

.footer-bottom{
    background-color:rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

.footer-bottom p{
    font-size: 1.2em;
    color: black;
    opacity: 0.5;
}

.designer{
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 1 px;
    font-weight: 400;
    margin: 0px 5px;
}




* body, p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style-type: none;
}



/* Desktop design */ 
@media only screen and (min-width: 560px){

    .category-grid{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;

    }

    .høstsalg{
        grid-column: 1/6;
        grid-row: 1/3;
    }







    .nav__toggle{
        display: none;
    }

    .nav__menu{
        flex-direction: row;
    }

    .nav__menu li{
        display: block;
    }


    .footer-nav ul{
        flex-direction: row;
        justify-content: center;
    }
    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }



}